<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 
	<bean id="consoleService1" class="com.bit.framework.service.EngConsoleService"></bean>
	<bean id="consoleService2" class="com.bit.framework.service.KorConsoleService"></bean> -->
	<!-- ConsoleService console = new KorConsoleService(); -->
<!-- 	
	<bean id="module02" class="com.bit.framework.service.Module02" scope="singleton">
		<property name="console" ref="consoleService">
		</property>
	</bean>
	
 -->
 <!-- 
 	<bean id="module02" class="com.bit.framework.service.Module02" scope="singleton">
		<constructor-arg ref="consoleService2"></constructor-arg>
	</bean>
-->

<!-- 
	<bean id="module03" class="com.bit.framework.service.Module03">
		<property name="sabun" value="123"></property>
		<property name="su2" value="1.23"></property>
		<property name="name" value="abcd"></property>
		<property name="tf" value="true"></property>
		<property name="ch" value="@"></property>
	</bean>
	 -->
	<bean id="module" class="com.bit.framework.service.Module04">
		<property name="arr1">
			<array>
				<value>a</value>
				<value>ab</value>
				<value>abc</value>
				<value>abcd</value>
				<value>abcde</value>
			</array>
		</property>
		<property name="list">
			<list>
				<value>A</value>
				<value>AB</value>
				<value>ABC</value>
				<value>ABCD</value>
				<value>ABCDE</value>
			</list>
		</property>
		<property name="set">
			<set>
				<value>AA</value>
				<value>BB</value>
				<value>CC</value>
			</set>
		</property>
		<property name="map">
		<!-- 	<map>
				<entry key="key1">
					<value>val1</value>
				</entry>
				<entry key="key2">
					<value>val2</value>
				</entry>
				<entry key="key3">
					<value>val3</value>
				</entry>
				<entry key="key4">
					<value>val4</value>
				</entry>
			</map> -->
			<props>
				<prop key="KEY1">VAL1</prop>
				<prop key="KEY2">VAL2</prop>
				<prop key="KEY3">VAL3</prop>
				<prop key="KEY4">VAL4</prop>
				<prop key="KEY5">VAL5</prop>
			</props>
		</property>
	</bean>	
</beans>
